<footer class="hero is-primary">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-bold">
                Just a fela learning some basic nodejs, express, html and css
            </div>
            <div class="column is-bold">
                <p class="footer-fineprint">© Manuel Rodriguez 2021</p>
            </div>
        </div>        
    </div>
</footer>
</body>

</html>