<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Random dice roll
        <span class="icon">
          <i class="fas fa-dice"></i>
        </span>
      </h1>
    </div>
  </div>
</section>
