<%- include('partials/head')%> <%- include('partials/mynavbar')%>

<div class="container">
  

  <div class="columns">
    <div class="column">
      <div id="left-autocomplete"></div>
      <div class="card">


        <form class="row g-3 needs-validation"  novalidate>
          <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="number" class="form-control" id="diceInput" aria-describedby="inputGroupPrepend" required  min="1" max="6">
              <div class="invalid-feedback">
                Please choose an Interger between 1 and 6.
              </div>
            </div>
            </div>
          
          
          <div class="col-md-3">
            <label for="validationCustom04" class="form-label">State</label>
            <select class="form-select" id="validationCustom04" required>
              <option selected disabled value="">Choose...</option>
              <option>...</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
          
        </form>


        <form method="POST" action="./output"   class="needs-validation" novalidate>
        <div class='card-content'>
          <div class="columns">
            <div class="column form-group has-error">
                <input class='input is-primary' name="dice" placeholder="enter the number of dice to roll" required/>         
            </div>
            <div class="column">
              <div class="select">
                <!-- <input class='input is-primary' name="sides" placeholder="enter the number of sides each dice has" /> -->
                <label for="sides">Select dice sides </label> 
                <select name='sides' required >
                   
                  <option value=6>6</option>
                  <option value=12>12</option>
                  <option value=24>24</option>
                  <option value=100>100</option>
                </select>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-primary is-primary">Roll the dice</button>
          </div>        
        </div>
      </form>

        </div>
      </div>
    </div>
    <div class="total-score is-primary">
      <h1>Select how many dice to roll and the number of sides</h1>
    </div>
  </div>
  
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')
  const numberOfDice = document.getElementById('diceInput').value;

 

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        if(!/numberOfDice/.test('^([1-6]$')){
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>

<%- include('partials/footer')%>
