<%- include('partials/head')%> <%- include('partials/mynavbar')%>

  <% if(typeof alert != 'undefined') { %>
    <% alert.forEach(function(error) { %>
        <div class="" role="alert">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
    <% }) %>
<% } %>
  

<div class="container">
  <div class="columns">
    <div class="column">
      <div id="left-autocomplete"></div>
      <div class="card">
        <form method="POST" action="./output">
        <div class='card-content'>
          <div class="columns">
            <div class="column">
                <input class='input is-primary' name="dice" placeholder="enter the number of dice to roll" />         
            </div>
            <div class="column">
              <div class="select">
                <!-- <input class='input is-primary' name="sides" placeholder="enter the number of sides each dice has" /> -->
                <select name='sides' >
                   <label for="sides">Select dice sides </label> 
                  <option value=6>6</option>
                  <option value=12>12</option>
                  <option value=24>24</option>
                  <option value=100>100</option>
                </select>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-primary is-primary">Roll the dice</button>
          </div>        
        </div>
      </form>

        </div>
      </div>
    </div>
    <div class="total-score is-primary">
      <h1>Select how many dice to roll and the number of sides</h1>
    </div>
  </div>
  
</div>

<%- include('partials/footer')%>
