<%- include('partials/head')%> <%- include('partials/mynavbar')%>
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <p>Dice 1</p>
          <p>2</p>
        </div>
        <div class="column">
          <p>Dice 2</p>
          <p>3</p>
        </div>
        <div class="column">
          <p>Dice 3</p>
          <p>6</p>
        </div>
      </div>
    </div>
  </div>

  <div class="column notification is-primary tutorial">
    <h1 class="title">Total score</h1>
    <p class="subtitle">11</p>
  </div>
  <a class="button is-primary" href="./home.html">Play again</a>
</div>

<script src="./utils.js"></script>
<script src="./autocomplete.js"></script>
<script src="./index.js"></script>
<%- include('partials/footer')%>
