<%- include('partials/head')%> <%- include('partials/mynavbar')%>

<div class="container">
  <div class="columns">
    <div class="column">
      <div id="left-autocomplete"></div>
      <div class="card">
        <div class="card-content">
          <div class="columns">
            <div class="column">
              <label for="">Enter the number of dice</label>
              <input
                class="input is-primary"
                type="text"
                placeholder="Primary input"
              />
            </div>
            <div class="column">
              <div class="select">
                <select>
                  <option>Select dice sides</option>
                  <option>6</option>
                  <option>12</option>
                  <option>24</option>
                  <option>100</option>
                </select>
              </div>
            </div>
          </div>
          <a class="button is-primary" href="./output.html">Roll the dice</a>
        </div>
      </div>
    </div>
  </div>
  <div class="column notification is-primary tutorial">
    <h1 class="title">Select how many dice to roll and the number of sides</h1>
  </div>
</div>

<script src="./utils.js"></script>
<script src="./autocomplete.js"></script>
<script src="./index.js"></script>
<%- include('partials/footer')%>
