<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css"
    />
    <link rel="stylesheet" href="../static/styles.css" />
  </head>

  <body>
    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Random dice roll
            <span class="icon">
              <i class="fas fa-dice"></i>
            </span>
          </h1>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div id="left-autocomplete"></div>
          <div class="card">
            <div class="card-content">
              <div class="columns">
                <div class="column">
                  <label for="">Enter the number of dice</label>
                  <input
                    class="input is-primary"
                    type="text"
                    placeholder="Primary input"
                  />
                </div>
                <div class="column">
                  <div class="select">
                    <select>
                      <option>Select dice sides</option>
                      <option>6</option>
                      <option>12</option>
                      <option>24</option>
                      <option>100</option>
                    </select>
                  </div>
                </div>
              </div>
              <a class="button is-primary" href="./output.html"
                >Roll the dice</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="column notification is-primary tutorial">
        <h1 class="title">
          Select how many dice to roll and the number of sides
        </h1>
      </div>
    </div>

    <script src="./utils.js"></script>
    <script src="./autocomplete.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
